{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

<h1>{{post.title}}</h1>

<p>{{post.content}}</p>
<p>By {{post.user.full_name}}</p>

<form>
    <button class="btn btn-primary" formmethod="GET" formaction="/users/{{post.user_id}}">Cancel</button>
    <button class="btn btn-secondary" formmethod="GET" formaction="/posts/{{post.id}}">Edit</button>
    <button class="btn btn-danger" formmethod="POST" formaction="/post/{{post.id}}">Delete</button>
</form>


